<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>828166667531-iodvaktltt0a32o55uep17u6n9r2arvd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.828166667531-iodvaktltt0a32o55uep17u6n9r2arvd</string>
	<key>API_KEY</key>
	<string>AIzaSyB_3iVSXFbfXfE6L1LadK3PSq-TV_4T3Ws</string>
	<key>GCM_SENDER_ID</key>
	<string>828166667531</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>coppel.test.sdk.coppelExam</string>
	<key>PROJECT_ID</key>
	<string>coppelexam-cf473</string>
	<key>STORAGE_BUCKET</key>
	<string>coppelexam-cf473.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:828166667531:ios:50ee70a72ddb52af52b60e</string>
</dict>
</plist>